@model Product
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Auth/Views/Shared/_LayoutAuth.cshtml";
    var message = CUtils.StrValue(ViewBag.message);
}

@section StyleSheet {
    <style>
        .container-admin {
            font-size: 13px;
        }

        .container-admin .header-admin {
            margin: 0 8px;
            margin-bottom: 12px;
            font-size: 24px;
            font-weight: lighter;
            color: #2679b5;
            border-bottom: 1px dotted #e2e2e2;
            padding-bottom: 16px;
            padding-top: 7px;
        }

        .container-admin .header-table {
            padding: 12px;
            background-color: #EFF3F8;
            display: flex;
            justify-content: space-between;
        }

        .input-number {
            width: 78px;
        }

        .box-input {
            display: flex;
            flex-direction: column;
        }

        .text-danger {
            margin-top: 8px;
        }

        .btn-success {
            margin-left: 16px;
        }
    </style>
}

<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
    <li><a href="@Url.Action("Index", "Product")">Danh mục xe</a></li>
    @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
    {
        <li class="active">@Model.ProductName</li>
    }
    else
    {
        <li class="active">Tạo mới xe</li>
    }
</ul>

<div class="container-admin">
    <div class="header-admin">@Model.ProductName</div>
    <div class="content-admin">
        <div class="content-table">
            @using (Html.BeginForm("Update", "Product", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal", onsubmit = "checkValid(event)" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Tên sản phẩm:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type="hidden" name="ProductId" value="@Model.ProductId" />
                        <input type="hidden" name="ProductCode" value="@Model.ProductCode" />
                        <input type="text" name="ProductName" value="@Model.ProductName" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)" />
                        <div class="text-danger" id="error_title"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Tiêu đề seo:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type="text" name="ProductTitle" value="@Model.ProductTitle" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)" />
                        <div class="text-danger" id="error_title"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">
                        Loại sản phẩm:
                    </label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select name="PrdCategoryId">
                                @foreach (PrdCategories item in ViewBag.ListPrdCategories)
                                {
                                    if (item.PrdCategoryId == Model.PrdCategoryId)
                                    {
                                        <option value="@item.PrdCategoryId" selected="selected">@item.PrdCategoryTitle</option>
                                    }
                                    else
                                    {
                                        <option value="@item.PrdCategoryId">@item.PrdCategoryTitle</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Mô tả:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="ProductDescription" rows="2" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)">@Model.ProductDescription</textarea>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">
                        Keyword:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="ProductKeyword" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)">@Model.ProductKeyword</textarea>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Tóm tắt:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="ProductSummary" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)">@Model.ProductSummary</textarea>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Slogan:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type="text" name="ProductSlogan" value="@Model.ProductSlogan" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Giá sản phẩm:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type="number" name="ProductPrice" value="@Model.ProductPrice" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Ảnh:
                    </label>

                    <div class="col-sm-9">
                        <div>
                            <div style="display: flex">
                                <input type="text" name="ProductImage" id="ProductImage" value="@Model.ProductImage" class="col-xs-12 col-sm-6" style="width: 300px" oninput="validateEmpty(event)" />
                                <span type="button" onclick="ChooseImage(event)" class="btn btn-sm btn-success">Browse..</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Ảnh nền:
                    </label>

                    <div class="col-sm-9">
                        <div>
                            <div style="display: flex">
                                <input type="text" name="ProductBackground" id="ProductBackground" value="@Model.ProductBackground" class="col-xs-12 col-sm-6" style="width: 300px" oninput="validateEmpty(event)" />
                                <span type="button" onclick="ChooseImage(event)" class="btn btn-sm btn-success">Browse..</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Video:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type="text" name="ProductVideo" id="ProductVideo" value="@Model.ProductVideo" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Brochure:
                    </label>

                    <div class="col-sm-9">
                        <div>
                            <div style="display: flex">
                                <input type="text" name="ProductBrochure" id="ProductBrochure" value="@Model.ProductBrochure" class="col-xs-12 col-sm-6" style="width: 300px" oninput="validateEmpty(event)" />
                                <span type="button" onclick="ChooseImage(event)" class="btn btn-sm btn-success">Browse..</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Thứ tự:
                    </label>

                    <div class="col-sm-9">
                        <input type="number" name="OrderNo" class="col-xs-12 col-sm-6 input-number" value="@Model.OrderNo" />
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    @{var check = Model.IsActive ? "checked" : "";}
                    <label class="col-sm-3 control-label no-padding-right">
                        Trạng thái:
                    </label>

                    <div class="checkbox">
                        <label>
                            <input name="IsActive" type="checkbox" class="ace" value="true" @check>

                            <span class="lbl"> Ẩn/Hiện danh mục</span>
                            <input name="IsActive" type="hidden" value="false" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @{var hot = Model.IsHotProduct ? "checked" : "";}
                    <label class="col-sm-3 control-label no-padding-right">
                        Trạng thái:
                    </label>

                    <div class="checkbox">
                        <label>
                            <input name="IsHotProduct" type="checkbox" class="ace" value="true" @hot>
                            <span class="lbl"> Sản phẩm Hot</span>
                            <input name="IsHotProduct" type="hidden" value="false" />
                        </label>
                    </div>
                </div>
                <button type="submit" href="#" id="btn_submit_save" class="btn btn-success">Lưu</button>
            }
        </div>
    </div>

</div>
@section Scripts {
    <script src="/Content/js/ckfinder/ckfinder.js"></script>
    <script>
        $('#btn_submit_save').click(function () {
            $("#manageForm").attr("action", '@Url.ActionLocalized("Update")').submit();
        });

        function ChooseImage(e) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $(e.target).prev().val(fileUrl);
            }
            finder.popup();
        }

        function validateEmpty(e) {
            if ($(e.target).val() == '' && $(e.target).attr('id') != 'ProductImage' && $(e.target).attr('id') != 'ProductBackground' && $(e.target).attr('id') != 'ProductBrochure' && $(e.target).attr('id') != 'ProductVideo') {
                $(e.target).next().text('Bạn không được để trống');
            } else {
                $(e.target).next().text('');
            }
        }

        function checkValid(e) {
            var inputs = $('input, textarea');
            var bug = 0;
            debugger

            for (var i = 1; i < inputs.length; i++) {
                if ($(inputs[i]).val() == '' && $(inputs[i]).attr('id') != 'ProductImage' && $(inputs[i]).attr('id') != 'ProductBackground' && $(inputs[i]).attr('id') != 'ProductBrochure' && $(inputs[i]).attr('id') != 'ProductVideo') {
                    $(inputs[i]).next().text('Bạn không được để trống');
                    bug++;
                }
            }
            debugger
            if (bug > 0) {
                e.preventDefault();
            } else {

                return true;
            }
        }

        var message = '@MvcHtmlString.Create(message)';
        $(document).ready(function () {
            if (message.trim() != null && message.trim() != '') {
                alert(message);
            }
        })
    </script>
}


