@{

    const string title = "Đổi mật khẩu";
    ViewBag.Title = title;
    var code = ViewBag.UserCode as string;
    var passnew = "";
    var confpass = "";
}

<div class="modal-dialog" style="width: 500px!important;">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "manageFormPUChangePassword", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" onclick="ClosePUModelChangePassword()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                <h2 class="modal-title" id="exampleModalLabel"><b>@MvcHtmlString.Create(title)</b></h2>
            </div>
            <div class="modal-body" style="height: 150px;">
                <div class="form-group margin-bottom-5">
                    <label for="UserCodePU" class="col-xs-12 col-sm-5 control-label no-padding-right font-weight-500">Mã người dùng</label>
                    <div class="col-xs-12 col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="text" id="UserCodePU" name="UserCodePU" class="col-xs-11 UserCodePU" value="@code" autocomplete="off" readonly />
                        </span>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label for="UserPassNew" class="col-xs-12 col-sm-5 control-label no-padding-right font-weight-500">Mật khẩu mới</label>
                    <div class="col-xs-12 col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="password" id="UserPassNew" name="UserPassNew" class="col-xs-11 UserPassNew" value="@MvcHtmlString.Create(passnew)" autocomplete="off" required />
                        </span>
                        <label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label for="UserConFPass" class="col-xs-12 col-sm-5 control-label no-padding-right font-weight-500">Nhập lại mật khẩu mới</label>
                    <div class="col-xs-12 col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="password" id="UserConFPass" name="UserConFPass" class="col-xs-11 UserConFPass" value="@MvcHtmlString.Create(confpass)" autocomplete="off" required />
                        </span>
                        <label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @*@RenderItemFormat("BTN_NGUOI_DUNG_CHANGE_PASSWORD", "<a class=\"btn font-color mybtn-Button\" onclick=\"ChangePasswordPU()\" href=\"javascript:void(0);\" style=\"margin-left: 10px; \"><i class=\"ace-icon fa fa-floppy-o bigger-110\"></i>Cập nhật</a>", "", "")*@
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function ClosePUModelChangePassword()
    {
        if (CheckElementExists('#UserCodePU')) {
            $('#UserCodePU').val('');
        }
        if (CheckElementExists('#UserPassNew')) {
            $('#UserPassNew').val('');
        }
        if (CheckElementExists('#UserConFPass')) {
            $('#UserConFPass').val('');
        }
        $('#ShowPopupChangePassword').modal("hide");
    }

    function validationForm()
    {
        if (!CheckIsNullOrEmpty('#UserPassNew', 'has-error-fix', '@MvcHtmlString.Create("Mật khẩu mới không được trống!")'))
        {
            return false;
        }
        var password = ReturnValueText('#UserPassNew');
        if (password.trim().length < 6)
        {
            alert('@MvcHtmlString.Create("Mật khẩu mới > 5 ký tự!")');
            AddClassCss('#UserPassNew', 'has-error-fix');
            $('#UserPassNew').focus();
            return false;
        }
        else
        {
            RemoveClassCss('#UserPassNew', 'has-error-fix');
        }
        if (!CheckIsNullOrEmpty('#UserConFPass', 'has-error-fix', '@MvcHtmlString.Create("Nhập lại khẩu mới trống!")'))
        {
            return false;
        }
        var confirmpassword = ReturnValueText('#UserConFPass');
        if (password !== confirmpassword)
        {
            alert('@MvcHtmlString.Create("Nhập lại mật khẩu không đúng, xin vui lòng nhập lại!")');
            AddClassCss('#ConfirmPassword', 'has-error-fix');
            $('#ConfirmPassword').focus();
            return false;
        }
        else
        {
            RemoveClassCss('#ConfirmPassword', 'has-error-fix');
        }
        if (confirmpassword.trim().length < 6)
        {
            alert('@MvcHtmlString.Create("Nhập lại mật khẩu mới > 5 ký tự!")');
            AddClassCss('#UserConFPass', 'has-error-fix');
            $('#UserConFPass').focus();
            return false;
        }
        else {
            RemoveClassCss('#UserConFPass', 'has-error-fix');
        }
        return true;
    }

    function ChangePasswordPU()
    {
        var check = validationForm();

        if (check)
        {
            var usercode = $('#UserCodePU').val();
            var passnew = $('#UserPassNew').val();
            var confpass = $('#UserConFPass').val();
            var url = '@Url.Action("ChangePassword", "Sys_User")';
            var token = $('#manageFormPUChangePassword input[name=__RequestVerificationToken]').val();
            $.ajax({
                url: url,
                data: {
                    __RequestVerificationToken: token
                    , usercode: usercode
                    , passnew: passnew
                    , confpass: confpass
                },
                type: 'post',
                dataType: 'json',
                traditional: true,
                success: function (data) {

                    if (data.Success) {
                        if (data.Messages !== null && data.Messages !== undefined && data.Messages.length > 0) {
                            alert(data.Messages[0]);
                            ClosePUModelChangePassword();
                        }
                        if (!IsNullOrEmpty(data.RedirectUrl)) {
                            window.location.href = data.RedirectUrl;
                        }

                    }
                    else {
                        if (!IsNullOrEmpty(data.Detail)) {
                            _showErrorMsg123("Lỗi!", data.Detail);
                        }
                    }
                }
            });
        }


    }
</script>



