@model PageInfo<ProductVersions>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Auth/Views/Shared/_LayoutAuth.cshtml";
    int productId = @ViewBag.ProductId;
}

@section StyleSheet {
    <style>
        .header-admin {
            margin: 0 8px;
            margin-bottom: 12px;
            font-size: 24px;
            font-weight: lighter;
            color: #2679b5;
            border-bottom: 1px dotted #e2e2e2;
            padding-bottom: 16px;
            padding-top: 7px;
        }

        .header-table {
            padding: 12px;
            background-color: #EFF3F8;
            display: flex;
            justify-content: space-between;
        }

        .paginate {
            display: flex;
            justify-content: space-between;
            background-color: #EFF3F8;
            padding: 20px;
        }

        .dataTables_wrapper .row:last-child, .dataTables_wrapper .row:first-child {
            display: none !important;
        }

        .table > thead > tr > th:last-child::after {
            display: none;
        }
    </style>

}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
        <li><a href="@Url.Action("Index", "Product")">Danh sách sản phẩm</a></li>
        <li><a href="@Url.Action("Index", "ProductVersions", new { productId = productId})">Danh sách phiên bản</a></li>
    </ul>
</div>
<div class="main-container" id="main-container">
    <div class="header-admin">Danh sách phiên bản</div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div>
                                    <div class="header-table">
                                        <div class="filter-select">
                                            <span>Display</span>
                                            <select id="pageSize" name="pageSize" onchange="updatePageSize()" value="@Model.PageSize">
                                                @foreach (var index in ViewBag.listPageSize)
                                                {
                                                    if (index == @Model.PageSize)
                                                    {
                                                        <option value="@index" selected>@index</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@index">@index</option>
                                                    }
                                                }
                                            </select>
                                            <span>records</span>
                                        </div>
                                        <div class="search-box">
                                            <span>Search:</span>
                                            <input type="text" id="txtSearch" name="name" onkeyup="search(event)" />
                                        </div>
                                    </div>
                                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="center" style="display: none"></th>
                                                <th>Mã mẫu xe</th>
                                                <th>Tên mẫu xe</th>

                                                <th>
                                                    Mô tả
                                                </th>
                                                <th>Status</th>
                                                <th>Lái thử</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (ProductVersions item in Model.DataList)
                                            {
                                                <tr>
                                                    <td class="center" style="display: none">
                                                        <label class="pos-rel">
                                                            <input type="checkbox" class="ace" />
                                                            <span class="lbl"></span>
                                                        </label>
                                                    </td>

                                                    <td>@item.VersionCode</td>
                                                    <td class="hidden-480">@item.VersionTitle</td>
                                                    <td class="hidden-480">@item.VersionDescription</td>
                                                    <td>
                                                        @if (item.IsActive == true)
                                                        {
                                                            <span class="label label-sm label-success">Active</span>

                                                        }
                                                        else
                                                        {
                                                            <span class="label label-sm label-danger">UnActive</span>

                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.IsRegister == true)
                                                        {
                                                            <span class="label label-sm label-success">Active</span>

                                                        }
                                                        else
                                                        {
                                                            <span class="label label-sm label-danger">UnActive</span>

                                                        }
                                                    </td>
                                                    <td>
                                                        <div class="hidden-sm hidden-xs btn-group">
                                                            <button class="btn btn-xs btn-info" onclick="window.location.href='/vi/quan-tri/danh-sach-version/cap-nhat?productId=@ViewBag.ProductId'+ '&versionId='+ @item.VersionId">
                                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                            </button>
                                                            <button class="btn btn-xs btn-danger" onclick="confirmDelete(@item.VersionId, @productId)">
                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                            </button>
                                                        </div>

                                                        <div class="hidden-md hidden-lg">
                                                            <div class="inline pos-rel">
                                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                                </button>

                                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                                    <li>
                                                                        <a href="/vi/quan-tri/danh-sach-version/cap-nhat?productId=@ViewBag.ProductId&versionId=@item.VersionId" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                            <span class="green">
                                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/vi/quan-tri/danh-sach-version/xoa?productId=@ViewBag.ProductId&versionId=@item.VersionId" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                            <span class="green">
                                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="paginate no-margin-top">
                                        <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">@ViewBag.pageView</div>

                                        <ul class="pagination pull-right no-margin" style="display: inline-block">
                                            <li class="prev">
                                                <a href="javascript:void(0);" onclick="prev()">
                                                    Previous
                                                </a>
                                            </li>
                                            @for (var i = 1; i <= Model.PageCount; i++)
                                            {
                                                if (i == Model.PageIndex)
                                                {
                                                    <li class="active">
                                                        <a href="javascript:void(0);" onclick="goToPage(@i)">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" onclick="goToPage(@i)">@i</a>
                                                    </li>
                                                }
                                            }

                                            <li class="next">
                                                <a href="javascript:void(0);" onclick="next()">
                                                    Next
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="/vi/quan-tri/danh-sach-version/tao-moi?productId=@ViewBag.ProductId" class="btn btn-success">Tạo mới</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            jQuery(function ($) {
                //initiate dataTables plugin
                var oTable1 =
                    $('#dynamic-table')
                        .dataTable({
                            bAutoWidth: false,
                            "aoColumns": [
                                { "bSortable": false },
                                null, null, null, null, null,
                                { "bSortable": false }
                            ],
                            "aaSorting": [],
                        });
            })
        });

    </script>
    <script>
    var pageIndex = @Model.PageIndex;
    var pageSize = @Model.PageSize;

    function updatePageSize() {
        var pageSizeUpdate = $('#pageSize').val();
        debugger
        window.location.href =
        "/vi/quan-tri/danh-sach-version/danh-sach?productId=" + @productId + "&page=" + pageIndex + "&pageSize=" + pageSizeUpdate;
        debugger
    }

    function search(e) {
        var txtSearch = $('#txtSearch').val().trim();
        if (e.key === 'Enter' || e.keyCode === 13) {
            const actionUrl = "/vi/quan-tri/danh-sach-version/danh-sach?productId=" + @productId + "&page=" + pageIndex + "&pageSize=" + pageSize + "&txtSearch=" + txtSearch;
            window.location.href = actionUrl
        }

    }

    function prev() {
        if (pageIndex > 1) {
            pageIndex--;
            const actionUrl = "/vi/quan-tri/danh-sach-version/danh-sach?productId=" + @productId + "&page=" + pageIndex + "&pageSize=" + pageSize;
            window.location.href = actionUrl
        }

    }

    function next() {
        if (pageIndex < @Model.PageCount) {
            pageIndex++;
            const actionUrl = "/vi/quan-tri/danh-sach-version/danh-sach?productId=" + @productId + "&page=" + pageIndex + "&pageSize=" + pageSize;
            window.location.href = actionUrl
        }

    }

    function goToPage(index) {
        var txtSearch = $('#txtSearch').val().trim();
        const actionUrl = "/vi/quan-tri/danh-sach-version/danh-sach?productId=" + @productId + "&page=" + index + "&pageSize=" + pageSize + "&txtSearch=" + txtSearch;
        window.location.href = actionUrl
    }

    function confirmDelete(versionId, productId) {

        if (confirm("Bạn muốn xóa bài viết có mã " + versionId + " ?") == true) {
            const actionUrl = "/vi/quan-tri/danh-sach-version/xoa?versionId=" + versionId + '&productId=' + productId;
            window.location.href = actionUrl
        } else {
            return false;
        }
    }
    </script>
}

