@model idn.Refrigeration.Utils.ServiceException
@{
    Layout = null;
}
<div style='width: 100%; padding: 5px 0 10px 0; float: left;'><span style='font-size: 17px; line-height: 20px; font-family:  arial; color: #e00;'>@Model.ErrorMessage</span></div><div class='error_detail_panel' style='width: 100%; float: left; border-top:solid 1px #efefef;'><p style='font-size: 12px; line-height: 20px; font-family:  arial;'>@MvcHtmlString.Create(Model.ErrorDetail)</p></div>

@*<div style="width: 100%; padding: 5px 0 10px 0; float: left;"><span style="font: 700 17px/20px arial; color: #e00;">ErrorMessage: @Model.ErrorMessage</span></div>
<div class="error_detail_panel" style="width: 100%; float: left; border-top: solid 1px #efefef;">

    <p style="font: 500 12px/20px arial;">
        Error Code: @Model.ErrorMessage
        <br />--------------------------------------------------------<br />
        @MvcHtmlString.Create(Model.ErrorDetail)
    </p>
</div>*@


