@{

}
@section StyleSheet {
    <style>
        .container-admin {
            font-size: 13px;
        }

            .container-admin .header-admin {
                margin: 0 8px;
                margin-bottom: 12px;
                font-size: 24px;
                font-weight: lighter;
                color: #2679b5;
                border-bottom: 1px dotted #e2e2e2;
                padding-bottom: 16px;
                padding-top: 7px;
            }

            .container-admin .header-table {
                padding: 12px;
                background-color: #EFF3F8;
                display: flex;
                justify-content: space-between;
            }

        .input-number {
            width: 78px;
        }

        .box-input {
            display: flex;
            flex-direction: column;
        }

        .text-danger {
            margin-top: 8px;
        }
    </style>
}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
    <li><a href="@Url.Action("Index", "PrdCategories")">Danh mục xe</a></li>
    @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
    {
        <li class="active">@Model.PrdCategoryTitle</li>
    }
    else
    {
        <li class="active">Tạo mới loại xe</li>
    }
</ul>

<div class="container-admin">
    <div class="header-admin">Tạo mới loại xe</div>
    <div class="content-admin">
        <div class="content-table">
            @using (Html.BeginForm("Create", "PrdCategories", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal", onsubmit = "checkValid(event)" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Tiêu đề loại xe:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type="text" name="PrdCategoryTitle" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)" />
                        <div class="text-danger" id="error_title"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">
                        Danh mục:
                    </label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select name="ParentId">
                                @foreach (PrdCategories value in ViewBag.ListPrdCategories)
                                {
                                    <option selected="selected" value="0">-- Tất cả --</option>
                                    if (value.ParentId > 0)
                                    {
                                        <option value="@value.PrdCategoryId">@value.PrdCategoryTitle</option>
                                    }
                                    else
                                    {
                                        <option value="@value.PrdCategoryId">@value.PrdCategoryTitle</option>
                                    }
                                }
                            </select>
                            <div class="text-danger"></div>
                        </div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Mô tả:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="PrdCategoryDescription" rows="2" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)"></textarea>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">
                        Keyword:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="PrdCategoryKeyword" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)"></textarea>
                        <div class="text-danger" id="error_keyword"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Tóm tắt:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="PrdCategorySummary" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)"></textarea>
                        <div class="text-danger" id="error_summary"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Thứ tự:
                    </label>

                    <div class="col-sm-9">
                        <input type="number" name="OrderNo" class="col-xs-12 col-sm-6 input-number" value="0" />
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">
                        Trạng thái:
                    </label>

                    <div class="checkbox">
                        <label>
                            <input name="IsActive" type="checkbox" class="ace" value="true">

                            <span class="lbl"> Ẩn/Hiện danh mục</span>
                            <input name="IsActive" type="hidden" value="false" />
                        </label>
                    </div>
                </div>
                <button type="submit" href="#" id="btn_submit_save" class="btn btn-success">Lưu</button>
            }
        </div>
    </div>

</div>

@section Scripts {
    <script>
        function validateEmpty(e) {
            if ($(e.target).val() == '') {
                $(e.target).next().text('Bạn không được để trống');
            } else {
                $(e.target).next().text('');
            }
        }

        function checkValid(e) {
            var inputs = $('input, textarea');
            var bug = 0;

            for (var i = 1; i < inputs.length; i++) {
                if ($(inputs[i]).val() == '') {
                    $(inputs[i]).next().text('Bạn không được để trống');
                    bug++;
                }
            }

            if (bug > 0) {
                e.preventDefault();
            } else {
                return true;
            }
        }
    </script>
}